name: Build Android APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' # نستخدم 3.10 لتجنب مشكلة distutils

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential libffi-dev python3-dev ffmpeg libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev zlib1g-dev
        sudo apt-get install -y libgstreamer1.0-gstreamer-lite1.0-dev libgstreamer-plugins-base1.0-dev
        python -m pip install --upgrade pip
        pip install buildozer cython==0.29.33 git+https://github.com/kivy/kivy.git

    - name: Build with Buildozer
      run: |
        # التأكد من قبول التراخيص أوتوماتيكياً
        yes | buildozer android debug
      env:
        # هذه المتغيرات تساعد في تسريع البناء وتفادي بعض المشاكل
        GRADLE_OPTS: "-Dorg.gradle.daemon=false"

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: WarriorAscension-APK
        path: bin/*.apk

