name: Android CI
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build APK
        run: |
          chmod +x android/gradlew
          cd android && ./gradlew assembleDebug

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: WarriorAscension-Game
          path: android/app/build/outputs/apk/debug/app-debug.apk
