name: Warrior Ascension Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build Full Project
        run: |
          chmod +x android/gradlew
          cd android && ./gradlew assembleDebug
      - name: Deliver Full APK
        uses: actions/upload-artifact@v4
        with:
          name: Warrior-Ascension-Full-Game
          path: android/app/build/outputs/apk/debug/app-debug.apk
