name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install Buildozer & dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install buildozer==1.5.0 Cython==0.29.33
          sudo apt update
          sudo apt install -y build-essential python3-dev zlib1g-dev libffi-dev libssl-dev cmake libsdl2-dev

      - name: Build APK
        run: |
          buildozer android debug
